.gameTable {
    display: grid;
    height: 200px;
    grid-template: repeat(1, 50px) / repeat(2, 1fr);
    justify-items: center;
    justify-content: space-between;
}
.log-area {
    font-size: 1rem;
    font-weight: bold;
    background: rgb(251, 248, 229);
    color: rgb(133, 111, 67);
    padding: 15px;
    border-radius: 10px;
    border: 0.5px solid rgb(133, 111, 67);
    margin-bottom: 3px;
}
